


    <h2>Reviews</h2>
    <%= form_tag({ :controller => 'reviews', :action => 'index', :project_id => @project },
                 :method => :get, :id => 'query_form') do %>
        <div id="query_form_with_buttons" class="hide-when-print">
          <%= hidden_field_tag 'set_filter', '1' %>
          <div id="query_form_content">
            <fieldset id="filters" class="collapsible <%= "collapsed" %>">
              <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
              <div style="<%= "display: none;" %>">


                <p class="buttons">
                  <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'icon icon-checked' %>
                  <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
                </p>
              </div>
            </fieldset>

          </div>

        </div>
    <% end %>

    <fieldset id="reviews">
      <form>
        <table>
          <% @review_column_names.each do |column|  %>
              <th>
                <%= column %>
              </th>
          <% end %>
          <% @reviews.each do |review| %>
              <tr>
                <td>
                  <%= link_to_review(review) %>
                </td>
                <td>
                <% if review.changeset.present? %>
                    <%= link_to_revision(review.changeset, review.changeset.repository,
                                         :text => format_revision(review.changeset)) %>
                <% end %>
                </td>
                <td>
                  <% if review.changeset.present? %>
                    <%= link_to_review(review, :text => review.changeset.comments.truncate(80)) %>
                  <% end %>
                </td>
                <td>
                  <%= link_to_user(review.user) %>
                </td>
                <td>
                  <%= review.due_date %>
                </td>
                <td>
                  <%= review.priority_id %>
                </td>
                <td>
                  <%= review.created_on.to_date %>
                </td>
                <td>
                  <%= review.updated_on %>
                </td>
                <td>
                  <%= review.closed %>
                </td>
              </tr>
          <% end %>
        </table>
      </form>
    </fieldset>


    <% content_for :sidebar do %>
        <%= render :partial => 'reviews/sidebar' %>
    <% end %>

