<h2><%= avatar(@changeset.user, :size => "24") %><%= l(:label_revision) %> <%= format_revision(@changeset) %></h2>

<div class="contextual">

  <a href="" class="icon" style="background-image: url('http://localhost:3000/images/magnifier.png')" onclick="<!-- Should show review table-->">Create review</a>
  <a href="" class="issue-1-watcher icon icon-fav-off" data-method="post" data-remote="true" rel="nofollow">Watch</a>
  <a href="" class="icon" style="background-image: url('http://localhost:3000/images/true.png');" rel="nofollow">Approve review</a>
  <a href="" class="icon" style="background-image: url('http://localhost:3000/images/false.png');" rel="nofollow">Reject review</a>
  <a href="" class="icon icon-del" data-confirm="Are you sure you want to delete the selected issue(s)?" data-method="delete" rel="nofollow">Delete review</a>
</div>

<div class="issue">
  <h3><%= @changeset.comments %></h3>

  <p>
  <span class="author">
    Committed by <%= link_to_user(@changeset.author) %> <%= time_tag(@changeset.committed_on).html_safe %> ago.
  </span>
  </p>

  <% if @changeset.scmid.present? || @changeset.parents.present? || @changeset.children.present? %>

      <table class="attributes">
        <tr>
          <td>
            <table class="attributes">
              <% if @changeset.scmid.present? %>
                  <tr>
                    <td style="font-weight: bold;">ID:</td>
                    <td class="status"><%= h(@changeset.scmid) %></td>
                  </tr>
              <% end %>
              <% if @changeset.parents.present? %>
                  <tr>
                    <th style="font-weight: bold;"><%= l(:label_parent_revision) %>:</th>
                    <td>
                      <%= @changeset.parents.collect{
                              |p| link_to_revision(p, @repository, :text => format_revision(p))
                      }.join(", ").html_safe %>
                    </td>


                  </tr>
              <% end %>
              <% if @changeset.children.present? %>
                  <tr>
                    <td style="font-weight: bold;"><%= l(:label_child_revision) %>:</td>
                    <td>
                      <%= @changeset.children.collect{
                              |p| link_to_revision(p, @repository, :text => format_revision(p))
                      }.join(", ").html_safe %>
                    </td>
                  </tr>
              <% end %>
            </table>
          </td>
          <td>
            <table class="review-info">
              <tr>
                <th>Priority:</th>
                <td>Critical</td>
              </tr>
              <tr>
                <th>Start date:</th>
                <td>01/09/2015</td>
              </tr>
              <tr>
                <th>Due date:</th>
                <td>01/21/2015</td>
              </tr>
              <tr>
                <th>% Done:</th>
                <td>
                  <table class="progress progress-" style="width: 80px;">
                    <tbody>
                    <tr>
                      <td class="closed" style="width: 80%;"></td>
                      <td class="todo" style="width: 20%;"></td>
                    </tr>
                    </tbody>
                  </table>80%
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <thead>
              <th>Participants:</th>
              </thead>
              <tbody style="padding-left: 30px;">
              <tr>
                <td style="font-weight: bold; text-decoration: underline;">Approvers (<a href="">Add</a>)</td>
                <td style="font-weight: bold; text-decoration: underline;">Observers (<a href="">Add</a>)</td>
              </tr>
              <tr>
                <td>Jacob Christensen</td>
                <td>Riley Oakden</td>
              </tr>
              <tr>
                <td>Jordan Devenport</td>
                <td>Jonathan Koyle</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
  <% end %>
  <hr />
  <% if false %>
    <% if @changeset.issues.visible.any? || User.current.allowed_to?(:manage_related_issues, @repository.project) %>
      <%= render :partial => 'related_issues' %>
    <% end %>
  <% end %>
</div>

<table>
  <tr>
    <td valign="top">
      <div style="border: 1px solid black;">
        <% if User.current.allowed_to?(:browse_repository, @project) %>
            <h3><%= l(:label_attachment_plural) %></h3>

            <ul style=" padding-left: 0px; font-size: 0.8em; margin: 0;">
              <li style="float: left; background-position: 5px 0;" class="change change-A"><%= l(:label_added)    %></li>
              <li style="float: left; background-position: 5px 0;" class="change change-M"><%= l(:label_modified) %></li>
              <li style="float: left; background-position: 5px 0;" class="change change-C"><%= l(:label_copied)   %></li>
              <li style="float: left; background-position: 5px 0;" class="change change-R"><%= l(:label_renamed)  %></li>
              <li style="float: left; background-position: 5px 0;" class="change change-D"><%= l(:label_deleted)  %></li>
            </ul>

            <br />

            <div class="changeset-changes">
              <%= render_changeset_changes %>
            </div>
        <% end %>
      </div>
    </td>
    <td valign="top">
      <div style="border: 1px solid black;">
        <!-- Somehow I need to add the context to this section so if knows which file it is looking at -->
        <!-- Looks like it I need to tie the file link on the side to the review controller somehow... -->
        <h2><%= l(:label_attachment) %>: <%=h @path %></h2>

        <!-- Choose view type -->
        <% if false %>
        <%= form_tag({:action => 'diff', :id => @project,
                      :repository_id => @repository.identifier_param,
                      :path => to_path_param(@path), :rev=> @rev}, :method => 'get') do %>
            <%= hidden_field_tag('rev_to', params[:rev_to]) if params[:rev_to] %>
            <p>
              <%= l(:label_view_diff) %>:
              <label><%= radio_button_tag 'type', 'inline', @diff_type != 'sbs', :onchange => "this.form.submit()" %> <%= l(:label_diff_inline) %></label>
              <label><%= radio_button_tag 'type', 'sbs', @diff_type == 'sbs', :onchange => "this.form.submit()" %> <%= l(:label_diff_side_by_side) %></label>
            </p>
        <% end %>
            <% end %>
        <!-- These tags below create the diff -->
        <% if false %>
        <% cache(@cache_key) do -%>
            <% render :partial => 'common/diff', :locals => {:diff => @diff, :diff_type => @diff_type, :diff_style => @repository.class.scm_name} %>
        <% end -%>
        <% end %>

        <%# html_title(with_leading_slash(@path), 'Diff') -%>

      </div>
    </td>
    <!-- Only show the comments box if there is an active review-->
    <td valign="top" style="height: 100%;">
      <div style="height: 100%; border: 1px solid black; width: 200px;">
        Comments here...
      </div>
    </td>
  </tr>
</table>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag "scm" %>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'review', :plugin => 'redmine_code_review' %>
<% end %>

<!-- TODO: (jchristensen) The section below creates the html page title. We should update this so it says review -->
<%
   title = "#{l(:label_revision)} #{format_revision(@changeset)}"
   title << " - #{@changeset.comments.truncate(80)}"
   html_title(title)
-%>
