<h2><%= avatar(@changeset.user, :size => "24") %> Review #<%= params[:review_id] %></h2>
<div class="contextual">
  <!--<a href="" class="issue-1-watcher icon icon-fav-off" data-method="post" data-remote="true" rel="nofollow">Watch</a>-->
  <%= watcher_link(@review, User.current) %>
  <a href="" class="icon" style="background-image: url('http://localhost:3000/images/true.png');" rel="nofollow">Approve review</a>
  <a href="" class="icon" style="background-image: url('http://localhost:3000/images/false.png');" rel="nofollow">Reject review</a>
  <a href="" class="icon icon-del" data-confirm="Are you sure you want to delete the selected issue(s)?" data-method="delete" rel="nofollow">Delete review</a> <!-- TODO (jchristensen) Only users with correct permissions should be able to delete the a review -->

</div>

<div class="issue">
  <h3><%= @changeset.comments %></h3>

  <p> <!-- TODO (jchristensen) Find out if anyone wants this information here -->
    Revision committed by <%= link_to_user(@changeset.author) %> <%= time_tag(@changeset.committed_on).html_safe %> ago.
    <br />
    Review created by <%= link_to_user(@review.creator) %> <%= time_tag(@review.created_on).html_safe %> ago.
  </p>

  <table class="attributes">
    <tr>
      <td>
        <table class="review-info">
          <tr>
            <th>Revision:</th>
            <td><%= link_to_revision(@changeset.revision, @repository, :text => format_revision(@changeset)) %></td>
          </tr>
          <tr>
            <th>Creation date:</th>
            <td><%= @review.created_on %></td>
          </tr>
          <tr>
            <th>Due date:</th>
            <td>01/21/2015</td>
          </tr>
          <tr>
            <th>Priority:</th>
            <td>Critical</td>
          </tr>
          <tr>
            <th>% Done:</th>
            <td> <!-- TODO (jchristensen) Update this graph properly -->
              <table class="progress progress-" style="width: 100px;">
                <tbody>
                <tr>
                  <td class="closed" style="width: 70%;"></td>
                  <td class="todo" style="width: 30%;"></td>
                </tr>
                </tbody>
              </table>70%
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <thead>
            <th>Participants:</th>
          </thead>
          <tbody style="padding-left: 30px;">
            <tr>
              <td>
                <table>
                  <thead>
                    <tr>
                      <td><p style="font-weight: bold; text-decoration: underline; display: inline;">Approvers</p> <%= link_to('(Edit)', :controller => 'participants', :action => 'new', :project_id => @project, :type => 'approver', remote: true) %></td>
                    </tr>
                  </thead>
                  <tbody>
                    <% @review.review_participants.each do |participant| -%>
                      <tr><td> <%= link_to_user(participant.user) %> <%= link_to('Remove', :controller => 'reviews', :action => 'remove_user', :id => @project, :user_id => participant.user, :type => 'approver', remote: true) %></td></tr>
                    <% end %>
                  </tbody>
                </table>
              </td>
              <td>
                <table>
                  <thead>
                    <tr>
                      <td><p style="font-weight: bold; text-decoration: underline; display: inline;">Watchers</p> <%= link_to('(Edit)', :controller => 'watchers', :action => 'new', :project_id => @project, remote: true) %></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td></td></tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>

<table style="width: 100%;">
  <tr>
    <td valign="top" style="width: 15%; border: 1px solid black; padding: 0px;"> <!-- TODO (jchristensen) Make this cell collapsible -->
      <h3 style="margin: 0px; padding: 0px;"><%= l(:label_attachment_plural) %></h3>

      <ul style=" padding-left: 0px; padding-bottom: 0px; font-size: 0.7em; margin: 0;">
        <li style="float: left; background-position: 5px;" class="change change-A"><%= l(:label_added)    %></li>
        <li style="float: left; background-position: 5px;" class="change change-M"><%= l(:label_modified) %></li>
        <li style="float: left; background-position: 5px;" class="change change-C"><%= l(:label_copied)   %></li>
        <li style="float: left; background-position: 5px;" class="change change-R"><%= l(:label_renamed)  %></li>
        <li style="float: left; background-position: 5px;" class="change change-D"><%= l(:label_deleted)  %></li>
      </ul>
      <br />
      <div class="changeset-changes">
        <%= render_review_files %>
      </div>
    </td>
    <% if @file %>
    <td valign="top" style="width: 70%; border: 1px solid black; padding-top: 0px;">
      <a href="<%= params[:review_id] %>" ><img src="http://localhost:3000/images/close.png" style="float: right; display: inline;" /></a>
      <% cache(@cache_key) do -%>
          <%= render :partial => 'diff', :locals => {:diff => @diff, :diff_type => @diff_type, :diff_style => @repository.class.scm_name} %>
      <% end -%>

      </td>
      <td valign="top" style="width: 15%; border: 1px solid black; padding-top: 0px;">
        <table style="width: 100%;">
          <thead><h3 style="margin: 0px; padding: 0px;">Comments</h3></thead>
          <tbody>
          <% @file.review_comments.each do |comment| -%>
            <tr style="background-color: #eeeeee;">
              <td><%= link_to_user(comment.author) %></td>
              <td><%= time_tag(comment.created_on) %> ago</td>
            </tr>
            <tr>
              <td colspan="2"><%= comment.comment_text %></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="2"><textarea style="width: 98%; "></textarea> </td>
          </tr>
          <tr>
            <td><input type="button" value="Comment"></td>
            <td><input type="checkbox" value="Blocker"> Blocker</td>
          </tr>
          </tbody>
        </table>
      </td>
    <% end %>
  </tr>
</table>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag "scm" %>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'review', :plugin => 'redmine_code_review' %>
<% end %>

<!-- TODO: (jchristensen) The section below creates the html page title. We should update this so it says review -->
<%
   title = "#{l(:label_revision)} #{format_revision(@changeset)}"
   title << " - #{@changeset.comments.truncate(80)}"
   html_title(title)
-%>
